body {
    background-color: aqua;
    background-image: url(gradient\ x.png);
    background-repeat: repeat-x;
    background-position: top;
}
#ngising {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: underline;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px black;
    margin-left: 170px;
}
#Table,th,tr,td {
    border: 1px solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

th,td {
    padding: 25px;
    text-align: center;
}
table {
    border-spacing: 1px;
    width: 1000px;
    
}

/* media queries */

@media only screen and (max-width: 600px) {
    #Table,th,tr,td {
        border: 1px solid;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }
    
    th,td {
        padding: 0px;
        text-align: center;
        
    }
    table {
        border-spacing: 1px;
        width: 99%;
        height: 600px;
        size: 1px;
    }
}